<div class="photo-cta">
  <img src="/img/cta-images/join_our_team.png" class="photo-cta-container"/>
  <div class="cta-button"><a href="/join-our-team">Apply Now   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/newsletter.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="/subscribe">Sign Up Now   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/strategy_call.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="/strategy-call">Book a Call   <i class="fa fa-angle-double-right"></i></a></div>
</div>


<div class="photo-cta">
  <img src="/img/cta-images/workshop.png"  class="photo-cta-container"/>
  <div class="cta-button"><a href="https://www.eventbrite.com/o/scott-kato-wwwcoachkatocom-30053997574">Reserve Your Seat   <i class="fa fa-angle-double-right"></i></a></div>
</div>

<div class="photo-cta">
  <img src="/img/circle.jpg"  class="photo-cta-container"/>
  <div class="cta-button"><a href="https://www.eventbrite.com/e/the-inner-tickets-102715996310" target="_blank">Join the Inner ⭕️   <i class="fa fa-angle-double-right"></i></a></div>
</div>
